html {
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: #70bg32;
  background-repeat: no-repeat;
  background: -webkit-linear-gradient(to left top, #6F86D6, #48C6EF);
  background: -moz-linear-gradient(to left top, #6F86D6, #48C6EF);
  background: -ms-linear-gradient(to left top, #6F86D6, #48C6EF);
  background: -o-linear-gradient(to left top, #6F86D6, #48C6EF);
  background: linear-gradient(to left top, #6F86D6, #48C6EF);
}

@media only screen and (min-width: 1024px) {
  .intro {
    background-color: rgba(27, 27, 27, 0.7);
    color: #ffffff;
  }
}

@media only screen and (max-width: 1024px) {
  .intro {
    background-color: rgba(27, 27, 27, 1);
    color: #ffffff;
  }
}

.img-container {
  background-image: url(vlad-arbatov.jpeg);
  background-size: cover;
  background-position: center center;
}

.img-container-mobile {
  background-image: url(vlad-arbatov.jpeg);
  background-size: cover;
  background-position: center center;
  height: 400px;
}

.tagline {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  line-height: 38px;
}

.logo {
  font-size: 34pt;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

.about {
  font-family: 'Rubik', sans-serif;
  font-size: 16pt;
  line-height: 34px;
  font-weight: 400;
}

.linkedin {
  color: #0077b5;
  text-decoration: none;
  border-bottom: 0px;
  font-size: 32px;
  padding-right: 8px;
}

.producthunt {
  color: #da552f;
  text-decoration: none;
  border-bottom: 0px;
  font-size: 32px;
  padding-right: 8px;
}

.facebook {
  color: #4267b2;
  text-decoration: none;
  border-bottom: 0px;
  font-size: 32px;
  padding-right: 8px;
}

.twitter {
  color: #38A1F3;
  text-decoration: none;
  border-bottom: 0px;
  font-size: 32px;
  padding-right: 8px;
}

.medium {
  color: #00ab6c;
  text-decoration: none;
  border-bottom: 0px;
  font-size: 32px;
  padding-right: 8px;
}

.telegram {
  color: #0088cc;
  text-decoration: none;
  border-bottom: 0px;
  font-size: 32px;
  padding-right: 8px;
}

.email {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 0px;
  font-size: 32px;
}

.vheight {
  padding-top: 50px;
}

a {
  text-decoration: none;
  border-bottom: 1px solid;
  color: #ffffff;
}

a:hover {
  text-decoration: none;
  border-bottom: 0px;
  color: inherit;
}
