@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

@media only screen and (min-width: 1024px) {
  .intro {
    background-color: rgba(27, 27, 27, 0.7);
    color: #ffffff;
  }
}

@media only screen and (max-width: 1024px) {
  .intro {
    background-color: rgba(27, 27, 27, 1);
    color: #ffffff;
  }
}

.img-container {
  background-image: url(vlad-arbatov.jpeg);
  background-size: cover;
  background-position: center center;
}

.img-container-mobile {
  background-image: url(vlad-arbatov.jpeg);
  background-size: cover;
  background-position: center center;
  height: 400px;
}

.tagline {
  font-family: 'Inter var', sans-serif;
  /* font-weight: 500;
  line-height: 38px;
  font-size: 24px; */
}

.logo {
  font-family: 'Inter var', sans-serif;
  /* font-weight: 500; */
}

.about {
  font-family: 'Inter var', sans-serif;
  /* font-size: 14pt;
  line-height: 30px;
  font-weight: 400; */
}

.linkedin {
  color: #000000;
  text-decoration: none;
  border-bottom: 0px;
  font-size: 26px;
  padding-right: 8px;
}

.github {
  color: #000000;
  text-decoration: none;
  border-bottom: 0px;
  font-size: 26px;
  padding-right: 8px;
}

.producthunt {
  color: #000000;
  text-decoration: none;
  border-bottom: 0px;
  font-size: 26px;
  padding-right: 8px;
}

.facebook {
  color: #000000;
  text-decoration: none;
  border-bottom: 0px;
  font-size: 26px;
  padding-right: 8px;
}

.twitter {
  color: #000000;
  text-decoration: none;
  border-bottom: 0px;
  font-size: 26px;
  padding-right: 8px;
}

.medium {
  color: #000000;
  text-decoration: none;
  border-bottom: 0px;
  font-size: 26px;
  padding-right: 8px;
}

.telegram {
  color: #000000;
  text-decoration: none;
  border-bottom: 0px;
  font-size: 26px;
  padding-right: 8px;
}

.email {
  color: #000000;
  text-decoration: none;
  border-bottom: 0px;
  font-size: 26px;
}

.vheight {
  padding-top: 20px;
}

.vheight2 {
  padding-top: 10px;
}

/* a {
  text-decoration: none;
  border-bottom: 2px solid;
  color: #000000;
}

a:hover {
  text-decoration: none;
  border-bottom: 0px;
  color: inherit;
} */
