body {
  background-color: #f5f5f5;
}

.tagline {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
}

.logo {
  font-size: 40pt;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
}

.about {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16pt;
}

.avatar {
  border-radius: 50%;
}

.linkedin {
  color: #0077b5;
}

.facebook {
  color: #4267b2;
}

.twitter {
  color: #38A1F3;
}

.medium {
  color: #00ab6c;
}

.telegram {
  color: #0088cc;
}

.vheight {
  padding-top: 50px;
}

a {
  text-decoration: none;
  border-bottom: 1px solid;
  color: #000;
  font-weight: 700;
}

a:hover {
  text-decoration: none;
  border-bottom: 0px;
}
