---
layout: default
---

<div class="is-items-middle" style="height=100%;">
<div class="is-width-large is-center is-shadow-3 animated fadeIn">
<section class="intro is-shadow-3">
  <div class="is-row is-inset-right-40 is-outset-y-80 is-inset-top-20-mobile is-outset-y-none-mobile ">
    <div class="is-col is-40 image-container"></div>
    <div class="is-col is-60 is-inset-32">
      {%- if page.title -%}
        <h1 class="logo">{{ page.title }}</h1>
      {%- endif -%}

      <h2 class="tagline is-inset-top-20-mobile">{{ page.tagline }}</h2>

      <p class="about vheight">{{ page.about }}</p>

      <p class="about vheight">{{ page.contact }}</p>

      {{ content }}
    </div>

    <!-- {%- if site.posts.size > 0 -%}
      <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
      <ul class="post-list">
        {%- for post in site.posts -%}
        <li>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </li>
        {%- endfor -%}
      </ul>

      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    {%- endif -%} -->

</section>
</div>
</div>
