---
layout: default
---

<section class="intro vheight">
  <div class="is-row is-outset-x-20-mobile is-outset-x-20 is-col-stack-20">
    <div class="is-col is-5"></div>
    <div class="is-col is-10"><img src="{{ "/assets/vlad.png" | relative_url }}" class="avatar"></div>
    <div class="is-col is-5"></div>
    <div class="is-col is-50">
      {%- if page.title -%}
        <h1 class="logo">{{ page.title }}</h1>
      {%- endif -%}

      <h3 class="tagline">{{ page.tagline }}</h3>

      <p class="about vheight">{{ page.about }}</p>

      <p class="about">{{ page.contact }}</p>

      {{ content }}
    </div>
    <div class="is-col is-30"></div>

    <!-- {%- if site.posts.size > 0 -%}
      <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
      <ul class="post-list">
        {%- for post in site.posts -%}
        <li>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </li>
        {%- endfor -%}
      </ul>

      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    {%- endif -%} -->

</section>
