---
layout: default
---

{% assign index = site.pages[1] %}

    <div class="is-row is-inset-right-40 is-inset-left-100 is-inset-left-20-mobile is-inset-right-20-mobile is-inset-top-80 is-inset-top-none-mobile is-outset-y-none-mobile ">
      <div class="is-col is-40 is-inset-32 is-inset-20-mobile is-inset-y-60-mobile">
          {%- if index.title -%}
          <a href="{{ site.url }}" class="is-color-black"><h1 class="logo">{{ index.title }}</h1></a>
          {%- endif -%}
      </div>
    </div>
    <div class="is-row is-inset-top-40 is-inset-right-40 is-inset-left-100 is-inset-left-20-mobile is-inset-right-20-mobile is-inset-top-none-mobile is-outset-y-none-mobile ">
      <div class="is-col is-80 is-inset-32 is-inset-20-mobile is-inset-y-none-mobile">


        <h5 class="post-list-heading"><a href="{{ site.url }}#latest" class="is-color-black" style="font-weight:400;">{{ page.list_title | default: "« Back to Latest" }}</a></h5>
          <br>

            <h2> {%- if page.icon -%}<i class="{{ page.icon }}" style="font-weight:normal;"></i>&nbsp;&nbsp;{%- endif -%}
              <a href="{{ page.link }}" style="font-weight:500;">{{ page.title | escape }}</a>
            </h2>

            <div class="just-comments vheight" data-apikey="003dd51b-52f3-481e-b565-0b57c2543f6d"></div>
            <script async src="https://just-comments.com/w.js"></script>

          <p class="vheight20"><img src="{{site.baseurl}}/assets/refind.svg" width="18px;"> <a href="https://refind.com/vlad-arbatov?invite=dd0d496a57" style="font-weight:500;">Follow me on Refind</a><br>for my curated list of updates on AI and Tech</p>

        </div>
        <div class="is-col is-20"></div>
      </div>
