---
layout: default
---

{% assign index = site.pages[1] %}

<div class="animated fadeIn">
    <div class="is-row is-inset-right-40 is-inset-left-100 is-inset-left-20-mobile is-inset-right-20-mobile is-inset-top-80 is-inset-top-none-mobile is-outset-y-none-mobile ">
      <div class="is-col is-40 is-inset-32 is-inset-20-mobile is-inset-y-60-mobile">
          {%- if index.title -%}
          <a href="{{ site.url }}" class="is-muted"><h1 class="logo">{{ index.title }}</h1></a>
          {%- endif -%}
      </div>
    </div>
    <div class="is-row is-inset-top-40 is-inset-right-40 is-inset-left-100 is-inset-left-20-mobile is-inset-right-20-mobile is-inset-top-none-mobile is-outset-y-none-mobile ">
      <div class="is-col is-40 is-inset-x-32 is-inset-x-20-mobile is-inset-y-none-mobile">
        <h3 class="is-inset-top-none-mobile">{{ index.tagline }}</h3>

        <p class="about vheight">{{ index.about }}</p>

        <p class="about vheight2">{{ index.contact }}</p>

      </div>
      <div class="is-col is-40 is-inset-32 is-inset-20-mobile is-inset-y-none-mobile">


        <h4 class="post-list-heading"><a href="{{ site.url }}" class="is-muted">{{ page.list_title | default: "Latest" }}</a> »</h4>
          <br>

            <h2> {%- if page.icon -%}{{ page.icon }}&nbsp;&nbsp;{%- endif -%}
              <a href="{{ page.link }}" style="font-weight:500;">{{ page.title | escape }}</a>
            </h2>

          <p class="vheight"><img src="{{site.baseurl}}/assets/refind.svg" width="18px;"> <a href="https://refind.com/vlad-arbatov?invite=dd0d496a57" style="font-weight:500;">Follow me on Refind</a><br>for my curated list of updates on AI and Tech</p>

        </div>
        <div class="is-col is-20"></div>
      </div>
      <div class="is-row is-inset-right-40 is-inset-left-100 is-inset-right-20-mobile  is-inset-left-12-mobile is-inset-x-none-mobile is-inset-top-none-mobile is-outset-y-none-mobile ">
        <div class="is-col is-40 is-inset-x-32 is-inset-none-mobile is-inset-x-none-mobile is-inset-left-none-mobile">
          <p class="is-smaller is-muted">Support open source: <a href="https://imperavi.com/kube/">Imperavi Kube UI Framework</a>, <a href="https://rsms.me/inter/">InterUI font</a>.<br>The code of this website is available on <a href="https://github.com/vladzima/arbatovme">Github</a>.</p>
        </div>
        <div class="is-shown-mobile vheight">&nbsp;</div>
      </div>
</div>
